In [ ]:
# Setup and Data Preprocessing

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
df = pd.read_excel("Online retail.xlsx")
data = pd.read_excel("Online retail.xlsx")

In [3]:
data.head()

  shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado
3  mineral water,milk,energy bar,whole wheat rice...
4                                     low fat yogurt

In [ ]:
# Data Preprocessing

In [4]:
data = data.dropna()

In [5]:
data = data.drop_duplicates()

In [7]:
print(data.columns)

Index(['shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil'], dtype='object')

In [15]:
df.columns = df.columns.str.strip()  # Removes leading/trailing spaces from column names

In [16]:
df.rename(columns={'Customer_ID': 'CustomerID', 'Invoice_No': 'InvoiceNo'}, inplace=True)

In [17]:
df.rename(columns={'Possible_Name1': 'CustomerID', 'Possible_Name2': 'InvoiceNo'}, inplace=True)

In [18]:
print(df.head())  # Check the first few rows of data
print(df.columns)  # Verify all column names

  shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado
3  mineral water,milk,energy bar,whole wheat rice...
4                                     low fat yogurt
Index(['shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil'], dtype='object')

In [19]:
df.drop_duplicates(inplace=True)

In [20]:
print(df.head())

  shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado
3  mineral water,milk,energy bar,whole wheat rice...
4                                     low fat yogurt

In [21]:
print('InvoiceNo' in df.columns)  # This should return True if the column exists
print('Description' in df.columns)  # This should also return True
print('Quantity' in df.columns)  # This should also return True

False
False
False

In [25]:
print(df.columns)

Index(['shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil'], dtype='object')

In [ ]:
#  Apply Apriori Algorithm

In [35]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [36]:
# Sample data in list of lists format
transactions = [
    ['burgers', 'meatballs', 'eggs'],
    ['eggs', 'milk'],
    ['meatballs', 'milk'],
    # Add more transactions as needed
]

In [37]:
# Step 1: Use TransactionEncoder to create a one-hot encoded DataFrame
te = TransactionEncoder()
data_transformed = te.fit(transactions).transform(transactions)
data = pd.DataFrame(data_transformed, columns=te.columns_)

In [38]:
min_support = 0.05
frequent_itemsets = apriori(data, min_support=min_support, use_colnames=True)

In [46]:
print(frequent_itemsets)
print(frequent_itemsets.shape)

    support                    itemsets
0  0.333333                   (burgers)
1  0.666667                      (eggs)
2  0.666667                 (meatballs)
3  0.666667                      (milk)
4  0.333333             (eggs, burgers)
5  0.333333        (burgers, meatballs)
6  0.333333           (eggs, meatballs)
7  0.333333                (milk, eggs)
8  0.333333           (milk, meatballs)
9  0.333333  (eggs, burgers, meatballs)
(10, 2)

In [50]:
frequent_itemsets.head()

    support         itemsets
0  0.333333        (burgers)
1  0.666667           (eggs)
2  0.666667      (meatballs)
3  0.666667           (milk)
4  0.333333  (eggs, burgers)

In [ ]:
# Generate Association Rules

In [52]:
print(frequent_itemsets)

    support                    itemsets
0  0.333333                   (burgers)
1  0.666667                      (eggs)
2  0.666667                 (meatballs)
3  0.666667                      (milk)
4  0.333333             (eggs, burgers)
5  0.333333        (burgers, meatballs)
6  0.333333           (eggs, meatballs)
7  0.333333                (milk, eggs)
8  0.333333           (milk, meatballs)
9  0.333333  (eggs, burgers, meatballs)

In [53]:
min_support = 0.01  # or lower as needed
frequent_itemsets = apriori(data, min_support=min_support, use_colnames=True)

In [59]:
from mlxtend.frequent_patterns import apriori, association_rules

# Apply the Apriori algorithm
min_support = 0.05  # Set a minimum support threshold
frequent_itemsets = apriori(data, min_support=min_support, use_colnames=True)

# Check if frequent_itemsets is empty
if not frequent_itemsets.empty:
    print("Frequent itemsets generated successfully.")
else:
    print("No frequent itemsets found.")

Frequent itemsets generated successfully.

In [63]:
import mlxtend
print(mlxtend.__version__)

0.23.2

In [66]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=min_confidence, num_itemsets=None)

In [67]:
min_lift = 1.2  # Set minimum lift threshold
rules = rules[rules['lift'] >= min_lift]

In [68]:
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(eggs),(burgers),0.666667,0.333333,0.333333,0.5,1.5,1.0,0.111111,1.333333,1.0,0.5,0.25,0.75
1,(burgers),(eggs),0.333333,0.666667,0.333333,1.0,1.5,1.0,0.111111,inf,0.5,0.5,1.00,0.75
2,(burgers),(meatballs),0.333333,0.666667,0.333333,1.0,1.5,1.0,0.111111,inf,0.5,0.5,1.00,0.75
3,(meatballs),(burgers),0.666667,0.333333,0.333333,0.5,1.5,1.0,0.111111,1.333333,1.0,0.5,0.25,0.75
10,"(eggs, burgers)",(meatballs),0.333333,0.666667,0.333333,1.0,1.5,1.0,0.111111,inf,0.5,0.5,1.00,0.75

In [ ]:
# Analysis and Interpretation

In [69]:
rules.sort_values(by='confidence', ascending=False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
1,(burgers),(eggs),0.333333,0.666667,0.333333,1.0,1.5,1.0,0.111111,inf,0.5,0.5,1.00,0.75
2,(burgers),(meatballs),0.333333,0.666667,0.333333,1.0,1.5,1.0,0.111111,inf,0.5,0.5,1.00,0.75
14,(burgers),"(eggs, meatballs)",0.333333,0.333333,0.333333,1.0,3.0,1.0,0.222222,inf,1.0,1.0,1.00,1.00
10,"(eggs, burgers)",(meatballs),0.333333,0.666667,0.333333,1.0,1.5,1.0,0.111111,inf,0.5,0.5,1.00,0.75
11,"(eggs, meatballs)",(burgers),0.333333,0.333333,0.333333,1.0,3.0,1.0,0.222222,inf,1.0,1.0,1.00,1.00
12,"(burgers, meatballs)",(eggs),0.333333,0.666667,0.333333,1.0,1.5,1.0,0.111111,inf,0.5,0.5,1.00,0.75
0,(eggs),(burgers),0.666667,0.333333,0.333333,0.5,1.5,1.0,0.111111,1.333333,1.0,0.5,0.25,0.75
3,(meatballs),(burgers),0.666667,0.333333,0.333333,0.5,1.5,1.0,0.111111,1.333333,1.0,0.5,0.25,0.75
13,(eggs),"(burgers, meatballs)",0.666667,0.333333,0.333333,0.5,1.5,1.0,0.111111,1.333333,1.0,0.5,0.25,0.75
15,(meatballs),"(eggs, burgers)",0.666667,0.333333,0.333333,0.5,1.5,1.0,0.111111,1.333333,1.0,0.5,0.25,0.75

In [14]:
# What is Lift and Why is it Important in Association Rules?

Lift measures the strength of a rule by comparing the observed frequency of a rule (X ‚Üí Y) with the expected frequency if X and Y were independent. A lift value greater than 1 indicates a positive association, meaning the presence of item X increases the likelihood of purchasing item Y. Lift is important because it helps identify meaningful relationships that go beyond mere coincidence.

In [ ]:
# What are Support and Confidence? How Do You Calculate Them?

Support is the proportion of transactions that contain a particular itemset, calculated as 
Support
(
ùëã
)
=
Number¬†of¬†Transactions¬†containing¬†X
Total¬†Number¬†of¬†Transactions
Support(X)= 
Total¬†Number¬†of¬†Transactions
Number¬†of¬†Transactions¬†containing¬†X
‚Äã
 .
Confidence is the likelihood of purchasing Y given that X is purchased, calculated as 
Confidence
(
ùëã
‚Üí
ùëå
)
=
Support
(
ùëã
‚à©
ùëå
)
Support
(
ùëã
)
Confidence(X‚ÜíY)= 
Support(X)
Support(X‚à©Y)

In [ ]:
# What are Some Limitations or Challenges of Association Rules Mining?

High Dimensionality: In datasets with a large number of items, the number of possible itemsets increases exponentially.
Interpretability: It can be challenging to interpret a large number of generated rules, especially if many of them have similar support or confidence.
Data Sparsity: Low-frequency itemsets may not appear in the results, which can lead to loss of potentially interesting rules.